<div class="flex flex-col gap-4">
	<nav>
		<ul class="flex flex-wrap gap-2">
			<li><a target="_blank" href="mailto:me@wao.my.id">Email:&nbsp;<span class="underline">me@wao.my.id</span></a></li>
			<li>|</li>
			<li><a target="_blank" href="https://discord.com/users/551305036416811029">Discord:&nbsp;<span class="underline">@waoweens</span></a></li>
			<li>|</li>
			<li class="underline"><a target="_blank" class="underline" href="https://github.com/Waoweens">GitHub</a></li>
			<li>|</li>
			<li class="underline"><a target="_blank" href="https://bsky.app/profile/wao.my.id">Bluesky</a></li>
			<li>|</li>
			<li class="line-through">Twitter</li>
		</ul>
	</nav>
	<div>
		<p>cat follow mouse script is <a class="underline" href="https://github.com/adryd325/oneko.js">oneko.js</a> by adryd325</p>
		<p><a class="underline" href="https://github.com/Waoweens/wao.my.id">website source code</a></p>
	</div>
</div>