<div>
	<nav>
		<ul class="flex flex-wrap gap-4">
			<li><a class="hover:underline" href="/">wao.my.id</a></li>
			<li><a class="underline" href="/">home</a></li>
			<li><a class="underline" href="/projects">projects</a></li>
			<li><a class="underline" href="/blog">blog</a></li>
			<li><a class="underline" href="/gallery">gallery</a></li>
			<li><a class="underline" href="/contact">contact</a></li>
		</ul>
	</nav>
</div>