* {
	font-family: 'IBM Plex Mono', monospace;
	color: white;
}

body {
	@apply w-full flex flex-col items-center bg-[#BDB5E6]
}

main {
	@apply bg-gray-700 max-w-4xl p-4;
}

.marquee {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}

.marquee .marquee-animation {
	display: inline-block;
	animation: marquee 15s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.legacy-marquee {
	white-space: nowrap;
	overflow: hidden;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.main-container section {
	flex: 1;
}

.main-container .float-right {
	flex: 0;
}

.opaque {
	opacity: 0.5;
}