{% extends 'layouts/base.njk' %}
{%block main %}
<header>
	<div class="flex border">
		<span>what's happening:</span>
		<!--TODO: replace <marquee> with CSS equivalent-->
		<marquee class="legacy-marquee">
			&nbsp;—&nbsp;
			this is a test of the news system
			&nbsp;—&nbsp;
			<a href="https://www.youtube.com/watch?v=Ciia3eBFnb8">Life is Strange: Double Exposure</a>
			just got announced and i am very excited
			&nbsp;—&nbsp;
			i'm pretty sure i just failed my chemistry test
			&nbsp;—&nbsp;
			i want to join your webrings
			&nbsp;—&nbsp;
		</marquee>
	</div>
</header>

<main>
	<div class="">
		<section>
			<h1>wao.my.id</h1>
			<p>Under Construction!</p>

			<figure>
				<img alt="drawn representation of me" title=":3" src="assets/waomoni.png">
				<figcaption>
					drawn by
					<details>
						<summary style="cursor: pointer"><u>sitas</u></summary>
						<ul>
							<li><a href="https://twitter.com/notsuspiciousn2">Twitter</a></li>
							<li><a href="https://bsky.app/profile/sitas.meowcorp.net">Bluesky</a></li>
						</ul>
					</details>
				</figcaption>
			</figure>

			<p>hi, i'm Waoweens. <span class="opaque"><abbr title="i also accept they/them">(he/him)</abbr></span> i
				make things and they are not very good</p>

			<p>find me somewhere else:</p>
			<ul>
				<li><a href="https://github.com/Waoweens">GitHub</a></li>
				<li><a href="https://twitter.com/Waoweens">Twitter</a></li>
				<li><a href="https://bsky.app/wao.my.id">Bluesky</a></li>
				<li><a href="https://steamcommunity.com/id/Waoweens/">Steam</a></li>
				<li>Discord: <a href="https://discord.com/users/551305036416811029">@waoweens</a> — ID:
					551305036416811029
				</li>
				<li>Mail: i'm still setting up <abbr title="Simple Mail Transfer Protocol">SMTP</abbr></li>
				<!--<li>Mail: <a href="mailto:me@wao.my.id">me@wao.my.id</a> — mail from me may end up in spam or promotions!</li>-->
			</ul>

			<img class="main-img" alt="BLÅHAJ 100 cm" title=":3" src="/assets/PXL_20240609_143757494.MP.OPTIMIZED.jpg">

			<br>
		</section>
	</div>
</main>

<footer>
	<a rel="noreferrer" href="https://wao.my.id" target="_blank">
		<img alt="88x31 banner for this website" title="me :3" src="assets/wao-88x31.png">
	</a>
	<br>
	<a href="https://github.com/Waoweens/waoweens.github.io">Source code</a>
	<p>this site is best viewed with <a href="https://www.ibm.com/plex/">IBM Plex®</a> Mono (fallback to system
		monospace font)</p>
</footer>
{% endblock %}